
<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./ordercashed.css" />
  <title>JavaPresso</title>

  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  <link href="gmarket-sans.css" rel="stylesheet"> 


</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <img src="./logo.png" alt="JavaPresso" class="sidebar_logo" />

      <nav class="sidebar_menu">
        <button class="sidebar_item is-active" id="menuboard" onclick="menuboard()">메뉴판</button>
        <button class="sidebar_item" id="order"    onclick="order()"   >주문하기</button>
        <button class="sidebar_item" id="points"   onclick="points()"  >포인트 확인</button>
        <button class="sidebar_item" id="setting"  onclick="setting()" >관리자모드</button>
      </nav>
    </aside>

    <div class="content">
        <h2 class="payment-title">결제 수단을 선택해 주세요.</h2>

        <form class="payment-options">
            <label class="payment-option">
            <input type="radio" name="payment" value="card" checked />
            <span class="custom-radio"></span>
            <span class="label-text">카드결제</span>
            </label>

            <label class="payment-option">
            <input type="radio" name="payment" value="kakaopay" />
            <span class="custom-radio"></span>
            <span class="label-text">카카오페이</span>
            </label>

            <label class="payment-option">
            <input type="radio" name="payment" value="naverpay" />
            <span class="custom-radio"></span>
            <span class="label-text">네이버페이</span>
            </label>

            <label class="payment-option">
            <input type="radio" name="payment" value="coupon" />
            <span class="custom-radio"></span>
            <span class="label-text">제휴사/이벤트 쿠폰</span>
            </label>
        </form>
        <div class="button-group ">
            <button class="btn-cancel">주문취소</button>
            <button class="btn-confirm">주문확인</button>
        </div>
    </div>
  </div>

  <script>
    document
      .querySelectorAll('.sidebar_item')
      .forEach(btn => btn.addEventListener('click', e => {
        document.querySelectorAll('.sidebar_item').forEach(b => b.classList.remove('is-active'));
        e.target.classList.add('is-active');
      }));
  </script>



</body>
</html>