<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="./insertemployee.css" />
  <title>JavaPresso</title>

  <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
  <link href="gmarket-sans.css" rel="stylesheet"> 

</head>
<body>
  <div class="container">
    <aside class="sidebar">
      <img src="./logo.png" alt="JavaPresso" class="sidebar_logo" />
      
      <nav class="sidebar_menu">
        <button class="sidebar_item" id="menuboard" onclick="menuboard()">직원 조회하기</button>
        <button class="sidebar_item is-active" id="order"    onclick="order()"   >직원 추가하기</button>
        <button class="sidebar_item" id="points"   onclick="points()"  >직원 삭제하기</button>
        <button class="sidebar_item" id="setting"  onclick="setting()" >직원 수정하기</button>
      </nav>
    </aside>

    <div class="content">
        <h1 class="insertemployee" >직원추가</h1>
        <div class="content-title1" >추가할 직원의 정보를 입력해주세요</div>

        <div class="content-title">직원 이름</div>
        <input type="text" class="input" placeholder="이름을 입력하세요."/>
        <div class="content-title">전화번호</div>
        <input type="text" class="input" placeholder="전화번호를 입력하세요" maxlength="11" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');"/>
       
        <div class="content-title">직급선택</div>
                <select class="input">
                  <option disabled selected>직급을 선택해주세요</option>
                    <option>점장</option>
                    <option>매니저</option>
                    <option>알바</option>
                </select> 


        <div class="content-title">급여</div>
        <input type="text" class="input" placeholder="월 급여를 입력하세요."/> 

         
        <div class="button-group">
            <button class="btn-earn-pass">입력취소</button>
            <button class="btn-earn-points">저장하기</button>
        </div>

    </div>
  </div>

  <script>
    document
      .querySelectorAll('.sidebar_item')
      .forEach(btn => btn.addEventListener('click', e => {
        document.querySelectorAll('.sidebar_item').forEach(b => b.classList.remove('is-active'));
        e.target.classList.add('is-active');
      }));

function toggleDropdown() {
  const menu = document.getElementById("dropdownMenu");
  menu.style.display = menu.style.display === "block" ? "none" : "block";
}

function selectOption(element) {
  const btn = document.querySelector(".custom-dropdown-btn");
  btn.textContent = element.textContent;
  document.getElementById("dropdownMenu").style.display = "none";
}
  </script>

</body>
</html>
