.footer-container {
    width: 1180px;
    max-height: 820px;
    margin: 0 auto;
}

.footer {
	width: 1180px;
	max-width: 100%;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
	padding: 15px 20px;
	text-align: center;
	font-size: 0.9em;
	color: #666;
	font-family: 'Gmarket Sans', sans-serif;
}